        body {
            align-items: center;
            background-image: url('public/bg.jpg');
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
        }

        .game_1,
        .game_2,
        .game_3 {
            display: none;
            grid-template-columns: repeat(7, 1fr);
            justify-content: center;
            padding: 3vh;
            color: white;
            align-items: center;
        }

        .card {
            perspective: 1000px;
            border-radius: 1vh;
            cursor: pointer;
            height: 17vh;
            width: 12vh;
            margin: 2vh;
        }

        .inner {
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.6s;
            height: 100%;
            width: 100%;
        }

        .card.flip .inner {
            transform: rotateY(180deg);
        }

        .front,
        .back {
            position: absolute;
            height: 100%;
            width: 100%;
            backface-visibility: hidden;
            border-radius: 1vh;
            display: flex;
            border-radius: 1vh;
        }

        .back {
            transform: rotateY(180deg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        img {
            position: absolute;
            height: 17vh;
            width: 12vh;
            border-radius: 1vh;
        }

        .Extra {
            grid-template-columns: repeat(3, 1fr);
            color: white;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: none;
        }

        #end,
        #Start {
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            justify-content: center;
            align-items: center;
            background-color: white;
            background-size: cover;
            z-index: 1000;
            position: fixed;
            width: 100%;
        }

        #Start {
            display: block;
            background-color: rgb(222, 168, 168);
        }

        button {
            text-align: center;
            justify-content: center;
            border-radius: 3vh;
            cursor: pointer;
        }

        #Start button {
            width: 20vh;
            height: 5vh;
        }

        @media screen and (max-width: 600px) {
            .game_1,
            .game_2,
            .game_3 {
                grid-template-columns: repeat(4, 1fr);
            }

            .card {
                height: 12vh;
                width: 8vh;
                margin: 1vh;
            }

            img {
                height: 12vh;
                width: 8vh;
            }
            
        }